.markdown {
  @apply text-gray-200 leading-relaxed flex flex-col items-center justify-center;

  font-size: 32px;

  & > * + * {
    @apply mt-6;
  }

  & h1 {
    @apply text-6xl font-bold text-gray-100 leading-tight;
  }
  & h2 {
    @apply text-5xl font-bold text-gray-100 leading-tight;
  }
  & h3 {
    @apply text-4xl font-bold text-gray-100 leading-tight;
  }

  & a {
    @apply text-blue-500 underline font-medium;

    &:hover {
      @apply text-blue-300;
    }
  }

  & ul,
  & ol {
    @apply list-disc pl-6;

    & li + li {
      @apply mt-2;
    }
  }

  & ol {
    @apply list-decimal;
  }

  & > p code,
  & > ul li *:not(pre) code,
  & > ul li > code,
  & > ol li *:not(pre) code,
  & > ol li > code {
    @apply inline-block bg-gray-100 rounded-sm text-sm px-1 leading-none whitespace-no-wrap text-purple-600 font-mono align-baseline;
    font-weight: 400;
  }

  & > pre {
    @apply font-mono rounded p-4 text-blue-400;
    font-weight: 400;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
